.tooltip {
    @apply bg-gray-800 text-white px-2 py-1 font-normal rounded-md text-sm hidden;

    &[data-show] {
        @apply block;
    }

    &[data-popper-placement^='top'] > .arrow {
        bottom: -1px;
    }
    
    &[data-popper-placement^='bottom'] > .arrow {
        top: -1px;
    }
    
    &[data-popper-placement^='left'] > .arrow {
        right: -1px;
    }
    
    &[data-popper-placement^='right'] > .arrow {
        left: -1px;
    }
}
.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg) translate(-50%);
}